/*MEDIUM SCREEN*/

/*Navbar*/
.navbar {
    background-color: #ffffff;
    border-bottom: #cccccc solid 2px;
    justify-content: space-between;
}
.m-teal {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: center;
    align-self: center;
    padding: 10px 35px 10px 35px;
}
.m-teal h2 {
    font-weight: bold;
}
.link-buttons {
    justify-content: right;
}
.nav-link {
    color: #777777;
    border-right: solid 1px #cccccc;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.nav-link:hover {
    color: #4aaaa5;
}
.nav-item:last-child {
    border-right: none;
}

/*Background*/
body {
    background-color: #ffffff;
    background-image: url(../images/brushed_alu.png)
}

/*Footer*/
footer {
    background-color: #666666;
    border-top: #4aaaa5 8px solid;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}