.contact-box {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px 50px 30px 50px;
}
.m-contact {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    border-bottom: 4px solid #dddddd;
}
.m-contact h2 {
    font-weight: bold;
    align-self: center;
    padding-bottom: 20px;
}
.form-group {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 20px
}
.submit-button {
    margin: 15px 0 10px 0;
    background-color: #4aaaa5;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
}